<div *ngFor="let cup of cups">
    <div class="max-w-sm overflow-hidden rounded shadow-lg">
        <img class="w-full" src={{cup.imageLink}} alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="mb-2 text-xl font-bold">{{cup.name}}</div>
          <p class="text-base text-gray-700">
            {{cup.desc}}
          </p>
          <select name="Quantity: ">
            <option *ngFor="let option of options" [value]="option.key" (click)="click(option, cup)"></option>
          </select>
          <button class="p-3 m-3 font-mono font-bold text-white border-2 rounded-md border-sky-600 bg-sky-600 hover:bg-sky-800 hover:border-sky-800">Buy</button>
        </div>
      </div>
</div>