<div *ngFor="let cup of cups">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src={{cup.imageLink}} alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{cup.name}}</div>
          <p class="text-gray-700 text-base">
            {{cup.desc}}
          </p>
          <button class="m-3 rounded-md border-2 border-sky-600 p-3 text-white font-bold font-mono bg-sky-600 hover:bg-sky-800 hover:border-sky-800">Buy</button>
        </div>
      </div>
</div>